.navbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 18px 40px;

  background: #020617;

  border-bottom: 1px solid #1e293b;

  position: sticky;

  top: 0;

  z-index: 100;
}

.logo {

  color: #00c6ff;

  font-size: 1.8rem;

  font-weight: bold;
}

.navbar-center {

  display: flex;

  gap: 30px;
}

.nav-item {

  text-decoration: none;

  color: #cbd5e1;

  font-weight: 500;

  transition: 0.3s;
}

.nav-item:hover {

  color: #00c6ff;
}

.nav-item.active {

  color: #00c6ff;
}

.navbar-right {

  display: flex;

  align-items: center;

  gap: 20px;
}

/* SEARCH */

.search-box {

  display: flex;

  align-items: center;

  gap: 8px;

  background: #0f172a;

  border: 1px solid #1e293b;

  padding: 10px 14px;

  border-radius: 12px;
}

.search-box svg {

  color: #94a3b8;
}

.search-box input {

  border: none;

  outline: none;

  background: transparent;

  color: white;

  width: 180px;
}

/* PROFILE */

.profile-mini {

  display: flex;

  align-items: center;

  gap: 8px;

  color: white;

  font-weight: 600;
  padding-right: 15px;
}

.profile-mini svg {

  font-size: 24px;

  color: #00c6ff;
}
.search-wrapper {

  position: relative;
}

.search-results {

  position: absolute;

  top: 55px;

  left: 0;

  width: 100%;

  background: #0f172a;

  border: 1px solid #1e293b;

  border-radius: 12px;

  overflow: hidden;

  z-index: 1000;
}

.search-item {

  padding: 12px 15px;

  cursor: pointer;

  color: white;

  display: flex;

  justify-content: space-between;

  transition: 0.3s;
}

.search-item:hover {

  background: #1e293b;
}

.search-item span {

  color: #00c6ff;

  font-size: 13px;
}
/* PROFILE WRAPPER */

.profile-wrapper {

  position: relative;

  cursor: pointer;
}

/* PROFILE */

.profile-mini {

  display: flex;

  align-items: center;

  gap: 8px;

  color: white;

  font-weight: 600;

  padding-right: 10px;
}

.profile-mini svg {

  font-size: 24px;

  color: #00c6ff;
}

/* DROPDOWN */

.profile-dropdown {

  position: absolute;

  right: 0;

  top: 45px;

  width: 180px;

  background: #0f172a;

  border: 1px solid #1e293b;

  border-radius: 12px;

  overflow: hidden;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.5);

  z-index: 999;
}

.dropdown-item {

  width: 100%;

  padding: 14px 18px;

  color: #ffffff !important;

  font-size: 15px;

  font-weight: 500;

  display: flex;

  align-items: center;

  gap: 10px;

  cursor: pointer;

  background: transparent;

  transition: 0.3s;
}

.dropdown-item:hover {

  background: #1e293b;

  color: #00c6ff !important;
}


.logout {

  color: #ef4444 !important;

  font-weight: 600;
}
.profile-dropdown a {

  color: white !important;

  text-decoration: none;

  display: block;

  width: 100%;
}

.profile-dropdown a:visited {

  color: white !important;
}

.profile-dropdown a:hover {

  color: #00c6ff !important;
}